@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none !important;
  box-sizing: border-box;
}

/* ========Root Start============ */
:root {
  --fs-3xsm: 12px;
  --fs-2xsm: 14px;
  --fs-xsm: 16px;
  --fs-sm: 18px;
  --fs-3xmd: 20px;
  --fs-2xmd: 22px;
  --fs-xmd: 24px;
  --fs-md: 28px;
  --fs-lg: 42px;
  --fs-xlg: 44px;
  --fs-2xlg: 48px;
  --fs-xl: 50px;
  --fs-2xl: 75px;
  --text-ffffff: #ffffff;
  --text-252B42: #252b42;
  --text-222B32: #222b32;
  --text-8093F6: #8093f6;
  --text-black:#000000;
  /* ====background colors===== */
  --bg-white:#ffffff;
  --bg-black:#000000;
}
/* Dark mode styles */
.dark-mode {
  --text-ffffff: #000000;
  --text-252B42: #252b42;
  --text-222B32: #222b32;
  --text-8093F6: #8093f6;
  --text-black:#ffffff;
  /* ====background colors===== */
  --bg-white:#000000;
  --bg-black:#ffffff;
}
.app.darkmode_btn{
  background-color: white !important;
  color: black !important;
}

.fs_3xsm {
  font-size: var(--fs-3xsm);
}

.fs_2xsm {
  font-size: var(--fs-2xsm);
}

.fs_xsm {
  font-size: var(--fs-xsm);
}

.fs_sm {
  font-size: var(--fs-sm);
}

.fs_3xmd {
  font-size: var(--fs-3xmd);
}

.fs_2xmd {
  font-size: var(--fs-2xmd);
}

.fs_xmd {
  font-size: var(--fs-xmd);
}

.fs_md {
  font-size: var(--fs-md);
}

.fs_lg {
  font-size: var(--fs-lg);
}

.fs_xlg {
  font-size: var(--fs-xlg);
}

.fs_2xlg {
  font-size: var(--fs-2xlg);
}

.fs_xl {
  font-size: var(--fs-xl);
}

.fs_2xl {
  font-size: var(--fs-2xl);
}

.text_ffffff {
  color: var(--text-ffffff);
}

.text_252B42 {
  color: var(--text-252B42);
  transition: all 500ms linear;
}

.text_222B32 {
  color: var(--text-222B32);
  transition: all 500ms linear;
}

.text_8093F6 {
  color: var(--text-8093F6);
}
.text_black{
  color: var(--text-black);
}
.bg_white{
  background-color: var(--bg-white);
}
.bg_black{
  background-color: var(--bg-black);
}
/* ==============Root End============== */
/* =====================Comman Classes=============== */
.bg_252B42 {
  background-color: #252b42;
}

.ff_jost {
  font-family: "Jost";
}

.ff_open_sans {
  font-family: "Open Sans";
}

.ff_poppins {
  font-family: "Poppins";
}


.invest_cards {
  border: 1px solid transparent;
  border-radius: 35px;
  padding: 20px 10px;
  transition: all 500ms linear;
}

.invest_cards:hover {
  border: 1px solid #1a74c7;
  border-radius: 35px;
  padding: 20px 10px;
  box-shadow: 0px 0px 20px 0px rgba(26, 116, 199, 0.25);
  cursor: pointer;
}

.send_hover {
  transition: all 500ms linear;
  border: 2px solid black;
}

.send_hover:hover {
  background-color: black !important;
  color: white !important;
  box-shadow: 1px 2px 2px #ffffff;
}
.cursor_block{
  cursor: not-allowed !important;
  pointer-events: none !important;
  opacity: 0.5;
}
.common_btns {
  padding: 10px 24px;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: var(--bg-black) !important;
  color: var(--text-ffffff) !important;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  font-size: 20px;
  transition: all 400ms linear;
}
.common_btns:hover {
  background-color: white !important;
  border: 1px solid var(--bg-black) !important;
  color: black !important;
}

.parallax_box {
  height: 300px;
  width: 500px;
  background-color: brown;
}
input {
  font-weight: 600;
  /* color: red; */
  /* border: 2px solid red; */
  outline: none;
  /* border-radius: 8px; */
  /* padding: 4px; */
}

/* textarea {
  font-weight: 600;
  padding: 5px;
  color: red;
} */

/* ================progreesbar============ */
.windowscrollcolor {
  background-color: red;
  height: 10px;
  width: 100%;
}

.windowscroll {
  background-color: #fff;
  height: 10px;
  width: 100%;
}

.header {
  position: fixed !important;
  top: 0% !important;
  left: 0% !important;
  width: 100% !important;
  border-radius: 20px;
}
::-webkit-scrollbar {
  background-color: white !important ;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: black !important ;
  border-radius: 10px;
}

/* ================progreesbar end============ */
/* ========= Email JS ===== */
#emailjs input{
  width: 400px;
  /* width: 100%; */
  border-radius: 4px;
  outline: none;
  background-color: transparent !important;
  border: 2px solid black;
  height: 40px;
  padding: 10px;
}
/* =========================== */
.map_size{
  width: 900px;
  height: 500px;
}
/* styles/globals.css */
button {
  cursor: pointer;
  margin: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

button.active {
  background-color: #ddd;
}
.my_code_btn {
  padding: 10px 24px;
}
.todo_box {
  width: 479px;
  background-color: white;
  padding: 29px 27px;
}

.input_box {
  border-radius: 8px;
  border: 1px solid #e2e8f0;
  background: var(--White, #fff);
  padding: 16px 8px 16px 24px;
  height: 49px;
}
.add_btn {
  padding: 11.5px 22.5px;
  border-radius: 8px;
  line-height: 100%;
  background: #2563eb;
}
.input_data_box {
  padding: 10.5px 16px;
  border-bottom: 1px solid #e2e8f0;
  background: #fff;
}
.text_64748B {
  color: #64748b;
}
.cursor_pointer {
  cursor: pointer;
}
.completed {
  text-decoration: line-through !important;
}
.text_CBD5E1 {
  color: #cbd5e1;
}
.lh_100 {
  line-height: 100%;
}
.todo_max_w {
  max-width: 400px !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: normal !important;
}
/* Add your styles here */

.size {
  width: 25px;
  height: 25px;
}

.bg_img {
  /* Your background image styling */
  background-image: url(./assets//images//png//javascript.png);
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

#form_validation input {
  padding: 10px;
  width: 500px;
  border-radius: 12px;
  border: 2px solid yellowgreen;
}
.error_message {
  position: absolute;
  bottom: -20px;
  left: 0;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 700 !important;
}
.password_toggle_icon {
  position: absolute;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
}
.swiper_box {
  height: 100px !important;
  max-width: 200px;
  width: 100%;
  /* height: 100% !important; */
}
.img_size {
  width: 400px;
  height: 300px;
}
/* ========= VIDEO PLAYER ======= */
.play_pause_btn{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50% ,-50%);
  height: 45px;
  width: 45px;
  transition: all 500ms linear;
}
/* ========= VIDEO PLAYER END ======= */
/* ==== ticker slider ======= */
.ticker-wrap {
  width: 100%;
  height: 80px;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  /* position: fixed; */
  top: 0;
  height: 3.5rem;
  background-color: #ffca46;
}

.ticker {
  display: inline-block;
  margin-top: 5px;
  animation: marquee 20s linear infinite;
}

.item-collection-1 {
  position: relative;
  left: 0%;
  animation: swap 20s linear infinite;
}

.item {
  display: inline-block;
  padding: 0 4rem;
  font-size: 2rem;
  color: black;
  font-weight: 800;
  font-family: sans-serif;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes swap {
  0%,
  50% {
    left: 0%;
  }

  50.01%,
  100% {
    left: 100%;
  }
}

/* css slider */

.marquee {
  margin: 0 auto;
  width: 100%;
  height: 50px;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}

.marquee:before,
.marquee:after {
  position: absolute;
  top: 0;
  width: 50px;
  height: 30px;
  content: "";
  z-index: 1;
}

.marquee__content {
  width: 850% !important;
  display: flex;
  line-height: 30px;
  -webkit-animation: marquee 15s linear infinite forwards;
  animation: marquee 15s linear infinite forwards;
}

.list-inline {
  display: flex;
  justify-content: space-around;
  width: 33.33%;
  list-style: none;
  padding: 0;
  margin-top: 9px;
}

@-webkit-keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-66.6%);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-66.6%);
  }
}
/* ============= DARK MODE ========== */
.app {
  background-color: #ffffff;
  color: #000000;
}


/* ================================== */
/* =============== GSAP ============= */

.span {
  position: absolute;
  display: block;
  text-align: center;
  font-size: 50px;
  z-index: 2;
  width: 50%;
  text-transform: uppercase;
  font-weight: 900;
  color: white;
  top: calc(50vh - 56px);

  &.up {
    right: 0;
  }

  &.down {
    left: 0;
  }
}

.box {
  height: 1.2vh;
  width: 50%;
  margin-bottom: -0.2vh;
  background: black;
  display: block;
}
/* ============================== */
/* ========== GSAP 2 ========== */

:root {
  --size: 90;
  --ar: calc(194.8 / 596.69);
  --coeff: 1vmin;
  --width: calc(var(--size) * var(--coeff));
  --height: calc((var(--size) * var(--ar)) * var(--coeff));
  --bg: #756cac;
  --color: #fff;
  --body: #eec28c;
  --nose: #eca08e;
  --cap: #333;
  --cap-accent: #f4ec10;
  --hair: #8f7556;
  --shirt-one: #4a4a4a;
  --shirt-two: #2b2b2b;
  --short-one: #b31e14;
  --short-two: #931910;
  --shoe: #0d0d0d;
  --sole: #9e7e6b;
  --logo: #fff;
  --cheek: rgba(226, 156, 151, 0.5);
  --pupil: #f2f2f2;
  --mouth: #1a1a1a;
}
body {
  width: 100vw;
  font-family: sans-serif;
  overflow-x: hidden;
  background: var(--bg);
}
.cap {
  fill: var(--cap);
}
.cap__accent {
  fill: var(--cap-accent);
}
.marionette {
  height: 100%;
  width: 100%;
}
.marionette__shoe {
  fill: var(--shoe);
}
.marionette__sole {
  fill: var(--sole);
}
.marionette__shirt-one {
  fill: var(--shirt-one);
}
.marionette__shirt-two {
  fill: var(--shirt-two);
}
.marionette__short-one {
  fill: var(--short-one);
}
.marionette__short-two {
  fill: var(--short-two);
}
.marionette__cheek {
  fill: var(--cheek);
}
.marionette__mouth,
.marionette__eye circle:nth-of-type(1) {
  fill: var(--mouth);
}
.marionette__pupil {
  fill: var(--pupil);
}
.marionette__hair {
  fill: var(--hair);
}
.marionette__logo {
  stroke: var(--logo);
}
.marionette__body {
  fill: var(--body);
}
.marionette__container {
  width: var(--width);
  position: fixed;
  height: var(--height);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transform-origin: 90% 50%;
}
.marionette__nose {
  position: absolute;
  top: 36%;
  right: 15.5%;
  width: 0;
  height: 2.5vmin;
  background: var(--nose);
}
.marionette__nose:after,
.marionette__nose:before {
  content: "";
  position: absolute;
  height: 2.5vmin;
  width: 2.5vmin;
  border-radius: 50%;
  background: var(--nose);
}
.marionette__nose:after {
  left: 0;
  transform: translate(-50%, 0);
}
.marionette__nose:before {
  transform: translate(50%, 0);
  right: 0;
}
h1 {
  font-size: 2rem;
  font-weight: 800;
  color: var(--color);
}
.story {
  height: 100vh;
  width: 100vw;
  position: fixed;
  overflow: hidden;
}
.story__content {
  position: absolute;
  width: var(--width);
  left: 50%;
  transform: translate(-50%, var(--y));
}
.story__content--bottom {
  top: 50%;
  --y: calc(0% + (var(--height) / 2));
}
.story__content--top {
  bottom: 50%;
  --y: calc(0% - (var(--height) / 2));
}
.story__content--bottom .blurb {
  top: 0;
}
.story__content--top .blurb {
  bottom: 0;
}
.blurb {
  position: absolute;
  visibility: hidden;
}
.blurb--two .word,
.blurb--three .word,
.blurb--four .word {
  opacity: 0;
}

/* ========== GSAP 2 ========== */
/* ======= NAV BAR MEDIA QURIES ======== */
@media (max-width: 992px) {
  .nav_sm {
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100vh;
   background-color: orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: all 500ms linear;
  }

  .nav_show {
    left: 0;
  }

  .overflow_hidden {
    overflow: hidden;
  }

  .close_nav {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }
}
/* ======= NAV BAR MEDIA QURIES END HERE ======= */
@media (min-width: 399.98px) {
  .marquee__content {
    width: 700% !important;
  }
}

@media (min-width: 575.98px) {
  .marquee__content {
    width: 560% !important;
  }
}
@media (min-width: 767.98px) {
  .marquee__content {
    width: 390% !important;
  }
}
@media (min-width: 991.98px) {
  .marquee__content {
    width: 320% !important;
  }
}
@media (min-width: 1199.98px) {
  .marquee__content {
    width: 290% !important;
  }
}
@media (min-width: 1441.98px) {
  .marquee__content {
    width: 280% !important;
  }
}
